.divTable {
  width: 100%;
  width: fit-content;
  position: relative;
}

.tr {
  display: flex;
}

tr,
.tr {
  width: fit-content;
}

.th,
.td {
  box-shadow: inset 0 0 0 2px hsl(var(--b3));
  padding: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}

.th {
  @apply p-1 relative font-bold text-center;
  height: 30px;
}

.td {
  height: 30px;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer:hover {
  background: hsl(var(--wa));
}

.resizer.isResizing {
  background: hsl(var(--er));
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}
