* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

main {
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.w-full {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}



